<h1>Search </h1>

<%= form_tag :action => 'search' do %>

	<p>Provide search criteria:<br>
		<%= text_field_tag 'searchinput', @searchinput %> </p>

		<%= submit_tag 'Search' %>
<% end %>
<hr/>
<% if @results == true %>
	<% if @productlist.length >0 %>
		<p> Here are the search results:</p>

		<table>
			<tr>
				<th>Product Name</th>
				<th>Price</th>
				<th>Description</th>
			</tr>
			<% @product.each do |p| %>
				<tr>
				<td><%= link_to p.name, product_path(p.id) %></td>
				<td><%= p.price %></td>
				<td><%= p.description %></td>
				</tr>
			<% end %>
		</table>

	<% else%>
		<p>There were no products with your search criteria. Try again!</p>
	<% end %>
<% end %>
