<script src="../_js/jquery-1.7.2.min.js"></script>
<script>
$(document).ready(function() {
outtoConfirm = function()
{
$('body').css('background-color','#804000');

$('h1').after('<center> <h2> Check all data. Make changes if necessary. Then hit the <b>"Submit"</b> button </h2></center>');
var titlein, authorin, pricein;
titlein = $('#book_title').val();
authorin = $('#book_author').val();
pricein= $('#product_price').val();

$('#product_name').css('background-color', 'yellow');
$('#product_category').css('background-color', 'yellow');
$('#product_description').css('background-color', 'yellow');
$('#product_price').css('background-color', 'yellow');
$('#product_price').val(pricein);
$('#product_price').after('<p><input name="submitButton" type="submit" id="submission" value="Submit Confirmed Data" length = 20> </p>');
$('#confirmButton').remove();
$('#submission').hover(function()
{
$(this).css('background-color', 'tan')


}); //end
}
$('#confirmButton').click(outtoConfirm);
}); //end ready
</script>

</script>

<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :product_category %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :product_description %>
  </div>

  <input name="submitButton" type="submit" id="confirmButton" value="Submit Data" length = 20> </p>
<% end %>
