<center>
    <div id="topbanner">
        <%= image_tag('run.jpg', size: '901x104') %>
    </div>
</center>

<%= link_to "Home", root_path %>
<%= link_to "Shop", store_shop_path %>
<%= link_to "About", welcome_about_path %>
<%= link_to "Contact", welcome_contact_path %>
<%= link_to "Help", welcome_help_path %>
