<div class="container">
  <center>
    <div id="topbanner">
      <%= image_tag('run.jpg', size: '901x104') %>
    </div>
  </center>
  <div class="row">
    <div class="col-sm-6">
      <%= link_to "Home", root_path %>
      <%= link_to "Shop", store_shop_path %>
      <%= link_to "About", welcome_about_path %>
      <%= link_to "Contact", welcome_contact_path %>
      <%= link_to "Help", welcome_help_path %>
      <%= link_to "Register", new_customer_path %>
      <% if session[:customer_id] %>
        <%= button_to 'Reports', reports_all_path %>
      <% end %>
    </div>

    <div class="col-sm-4">
      <%= form_tag :controller => 'welcome', :action => 'search' do %>
  			<p>Search: <br/>
  			<%= text_field_tag 'searchinput', @searchinput %> </p>
  		<% end %>
    </div>

    <div class="col-sm-2">
      <% if session[:customer_id].nil? %>
        <%= button_to 'Login', login_path, :method => :get, :class => 'btn btn-primary' %>
      <% else %>
        Hello <%= Customer.find(session[:customer_id]).username %> !
        <%= button_to 'Logout', logout_path, :method => :delete %>
      <% end %>
    </div>
  </div>
</div>
